title,content,tags
Улюблена фраза,D'oh!,homer,цитата
Улюблена фраза,Excellent...,burns,цитата
Улюблена фраза,Don't have a cow man!,bart,цитата
Список покупок,Пончики з рожевою глазур'ю x12,homer,їжа
Список покупок,Сахарна вата та хот-доги для Барта,bart,їжа
Робота,Не натискати велику червону кнопку,homer,атомна,робота
Робота,Сьогодні знову спізнився містер Бернс,homer,робота
Школа,Барт знову написав на дошці 100 разів,bart,школа
Школа,Ліза отримала A+ з математики,lisa,школа
Ідея,Відкрити власний бізнес зі смаженою їжею,homer,ідея
